<div class="jumbotron">
  <h1 class="display-4"><%= t('messages.welcome')%></h1>
  <p class="lead"><%= t('messages.welcome_message')%></p>
  <hr class="my-4">
  <p><%= t('messages.welcome_menu')%></p>
  <%= render 'menu'%>
</div>
