<div class="card">
  <h5 class="card-header"><%=t('titles.edit.mining_type')%></h5>
  <div class="card-body">
    <%= render 'form', mining_type: @mining_type %>
    <div class="form-group col-md-6">
        <%= link_to t('link.show'), @mining_type, class:"btn btn-primary" %>
        <%= link_to t('link.back'), mining_types_path, class:"btn btn-secondary" %>
    </div>
  </div>
</div>
